<!-- FORM BUILDER-->
<h2>Reactive form</h2>
<form [formGroup]="userData1" (ngSubmit)="onSubmit()">
  <p><label>FNAME:
    <input type="text" formControlName="fname1">
  </label></p>
  <p><label>LNAME:
    <input type="text" formControlName="lname1">
  </label></p>
  <div formGroupName="contact_info">
    <p><label>ADDRESS:
      <input type="text" formControlName="address1">
    </label></p>
    <p><label>PHONE:
      <input type="text" formControlName="phone">
    </label></p>
  </div>
  <p><button type="submit" [disabled]='!userData1.valid'>Submit</button></p>
  <p><button (click)="updateprofile()">Update</button></p>

</form>








<!--<input type="text" [formControl]="frm">
<br><br>
<p>value:{{frm.value}}</p>
<br>
<br>
<button type="submit" (click)="changeValue()">click me</button>
<br>
<br><hr><hr>
<form [formGroup]='profilefrm' (ngSubmit)="onSubmit()">
  <label>FirstName:</label>
  <input type="text" formControlName="firstname">
  <br><br>
  <label>LastName:</label>
  <input type="text" formControlName="lastname">
  <br><br>
  <label>Email:</label>
  <input type="email" formControlName="emailid" required/>
  <br><br>
  <div formGroupName="address">
    <h4>Address</h4>
    <label>Street:<input type="text" formControlName="street"></label>
    <label>
      City:<input type="text" formControlName="city">
    </label>
    <label>State:
      <input type="text" formControlName="state1">
    </label>
    <label>
      Pincode:<input type="text" formControlName="pincode">
    </label>
  </div>
  <button type="submit" [disabled]="!profilefrm.valid" (click)="updateprofile()">Submitt</button>
</form>
<div formArrayName="aliases">
  <h3>Aliases</h3>
  <button (click)="adaliases()">Add Alias</button>
  <div *ngFor="let alias of aliases.controls; let i=index">
    <label>
      Alias:
      <input type="text" [formControlName]="i">
    </label>
  </div>
</div>
<p>formvalue:{{profilefrm.value|json}}</p>
<p>form status:{{profilefrm.status}}</p>
-->



<!--<h2>Reactive Form</h2>
From:<input type="text" [formControl]="frm">
<br>
<input type="button" value="setValue" (click)="setDefaultValue()">
<br>
<br>

<form [formGroup]="userData" (ngSubmit)="onSubmit()">
  <p>
    <label>FNAME:</label>
    <input type="text" formControlName="fname">
  </p>
  <p>
    <label>LNAME:</label>
    <input type="text" formControlName="lname">
  </p>
  <p>
    <label>EMAIL:</label>
    <input type="text" formControlName="email">
  </p>
  <p>
    <label>SALARY:</label>
    <input type="text" formControlName="salary">
  </p>
  <button type="submit" [disabled]="!userData.valid">SUBMIT</button>
</form>-->
