*{
    box-sizing: border-box;
}
body{
    margin:0px;
    font-family: 'Otomanopee One', sans-serif;
}
.head{
    background-color: hsl(240, 50%, 95%);
}
.head h2,button{
    display: inline-block;
}
.head h2{
    padding: 10px;
    margin:10px;
    font-size: 35px;
}
.head button{
    float:right;
    padding: 10px;
    margin: 35px;
    font-size: 20px;
    border-radius: 15px;
    color:hsl(0, 50%, 100%);
    background-color: hsl(240, 50%, 65%);
    font-family: 'Otomanopee One', sans-serif;
    border: none;
}

.studentinfo{
    display: flex; 
    width: 100%;
    border-top: 3px solid hsl(0, 50%, 0%);
}
 h4{
    background-color:hsl(0, 50%, 100%);
    margin-bottom:0px ;
    padding-bottom: 5px;
    font-size: 25px;
}
.sidebar{
    flex:1;
    width:20%;
    float: left;
    padding-top: 10px;
}
.sidebar button{
    font-family: 'Otomanopee One', sans-serif;
    width:90%;
    text-align: justify;
    border-radius: 10px;
    margin:0px 20px 15px 20px;
    background-color: hsl(10, 50%, 85%);
    box-shadow: 6px 4px 6px 4px hsl(10, 50%, 85%);
    padding: 10px;
    font-size: 20px;
    border: none;
    color:hsl(0, 50%, 0%);
}
.sidebar button:hover{
    background-color: hsl(240, 50%, 65%);
    box-shadow: 6px 4px 6px 4px hsl(240, 50%, 75%);
    color:hsl(0, 50%, 100%)
}
.sidebar button.active{
    background-color: hsl(240, 50%, 65%);
    box-shadow: 6px 4px 6px 4px hsl(240, 50%, 75%);
}
.studentcontent{
    flex:3;
    float: right;
    width: 80%;
}
.tabcontent:not(:first-of-type){
    display: none;
}
 .tabcontent{
    width: 100%;
    font-family: sans-serif;
    font-size: 25px;
}
.tabcontent h5{
  color: hsl(240, 100%, 80%);
  margin: 10px;
  padding: 10px;
}
.tabcontent p,.tabcontent li{
    padding: 5px 15px 5px 25px;
    font-size: 20px;
}
.tabcontent table,th,td{
    border: 1px solid hsl(0, 50%, 0%);
}
.tabcontent table{
    width: 90%;
    border-collapse: collapse;
    margin:20px auto 20px auto;
}

.tabcontent th{
    height: 80px;
    text-align: left;
    padding: 10px;
    background-color: hsl(0, 0%, 80%);
    color: hsl(240, 50%, 55%);
}
.tabcontent td{
    height: 50px;
    padding: 10px;
}
#Overall td,#Overall th{
    text-align: center;
}
#Classes td{
    text-align: center;
}
#Progressrprt td:not(:first-child),#Progressrprt th{
    text-align: center;
}
#Progressrprt tr:last-child{
    background-color: hsl(0, 0%, 80%);
}
#Analysis th:nth-child(2),#Analysis td:nth-child(2){
    text-align: center;
}
#Assignments td,#Assignments th{
    text-align: center;
}
.tabcontent td input{
    width:100px;
    padding: 10px 0px 10px 10px ;
    font-size: 30px;
    text-align: center;
}
.tabcontent .grdsrmrks{
    width:100%;
    display: flex;
}
.tabcontent .grdsrmrks .grades{
    flex:2;
}
.stdntgrde{
    margin:50px;display: flex;
    justify-content: center;
    align-items: center;
}
.piechart{
    border:2px solid black;
    border-radius: 50%;
    width:200px;
    height: 200px;
    background-image: conic-gradient(
                pink 0deg 60deg, 
                violet 60deg 120deg,
                orange 120deg 180deg,
                blue 180deg 240deg,
                green 240deg 300deg,
                red 300deg 360deg);
    
}
.stdntgrde li{
    font-size: 18px;
    padding: 2px;
    margin:5px;
    color: white;
}
.tabcontent .grdsrmrks .stdntremarks{
    width:60%;
    flex:3;
    float: right;
}
@media only screen and (max-width:600px){
    .studentinfo,.tabcontent .grdsrmrks{
        display: block;
    }
    .sidebar,.studentcontent,.tabcontent .grdsrmrks .grades,.tabcontent .grdsrmrks .stdntremarks{
        width:100%;
        flex:none;
    }
    .sidebar button{
        width:160px;
        margin:5px 0px 5px 0px;
        text-align: center;
    }
}
@media only screen and (min-width:600px) and (max-width:800px){
    .studentinfo,.tabcontent .grdsrmrks{
        display: block;
    }
    .sidebar, .studentcontent,.tabcontent .grdsrmrks .grades,.tabcontent .grdsrmrks .stdntremarks{
        width:100%;
        flex: none;
    }
    .sidebar button{
        width: 160px;
        margin:5px 0px 5px 0px;
    }
}