/*----------***********----------*/
.news_lgn,input,label,button,textarea{
    font-family: 'Yomogi', cursive;
}
.news_lgn{
    border-bottom:1px solid rgb(238, 90, 119);
    width:100%;
}
.newstab,.logintab{
    overflow-x: hidden;
}
.logintab{
    border-left: 1px solid rgb(238, 90, 119);
}
.rownl .col-7{
    padding-right: 0px;
}
.newstab li:nth-child(1n+7){
    display: none;
}
.rownl::after{
    content: "";
    display: table;
    clear: both;
}
.newshd{
padding: 5px 0px 5px 15px;
background-color:rgba(159, 245, 238, 0.425);
font-size: 25px;
}
.newstab li{
    width: 100%;
    font-size: 20px;
    font-style: italic;
    padding:7px 0px 7px 0px;
    margin-left: 10px;
   }

/*--------------************---------*/
.stafflogin input,.teacherlogin input,.parentlogin input,.studentlogin input,
.stafflogin label,.parentlogin label,.teacherlogin label,.studentlogin label{
    width: 100%;
    font-size: 20px;
    font-style: italic;
    padding:7px 0px 7px 0px;
    margin-left: 10px;
   }
   
/*-----------------*************--------------*/
/*logintab*/
.tabcontent:not(:first-child){
    display:none;
}
/*LOGIN BUTTONS*/
.logintab .lginbtns{
    border: 1px solid black;
    background-color: white;
}
.lginbtns button{
    padding: 5px;
    margin: 0px 0px 15px 0px;
    font-size: 20px;
    background-color: rgb(240, 235, 215);
    border: none;
    float: left;
}
.lginbtns button.active {
    background-color: rgba(255, 164, 164, 0.726);
  }
/*------------**********************---------------*/
/*colors*/
.stafflogin button:active,.stafflogin button:hover,
.teacherlogin button:active,.teacherlogin button:hover,
.parentlogin button:active,.parentlogin button:hover,
.studentlogin button:active,.studentlogin button:hover{
    background-color: rgba(201, 247, 37, 0.61);
}
.lginbtns button:active,.lginbtns button:hover{
    background-color: rgb(238, 90, 119);
}

/*STAFFLOGIN*/
.stflgn{
    background-color:rgba(238, 90, 120, 0.719);
}
.stafflogin input{
    border: 1px solid rgba(253, 135, 194, 0.342);
    border-right: none;
}
.stafflogin .fa-user-circle{
    display: block;
    color: darkblue;
}
.stafflogin .fa-envelope,.stafflogin .fa-lock{
    background:rgba(243, 122, 146, 0.877);
    color:honeydew;
}
.stafflogin button{
    background-color:rgb(243, 122, 147);
}
/*---------------***********-----------*/
/*TEACHERLOGIN*/
.teacherlogin{
    border: 1px solid black;
}
.tchrlgn{
    background-color: rgba(31, 245, 181, 0.856);
}
.teacherlogin input{
    border: 2px solid  rgba(140, 241, 211, 0.486);
}
.teacherlogin .fa-user{
    display: block;
    color:white;
}
.teacherlogin .fa-envelope,.teacherlogin .fa-lock{
    padding:7px ;
    background:rgb(140, 241, 211);
}
.teacherlogin button{
    background-color:rgb(140, 241, 211);
}
/*---------------***********-----------*/
/*PARENTLOGIN*/
.prntlgn{
    background-color:rgba(35, 245, 227, 0.753);
}
.parentlogin input{
    border: 1px solid rgba(100, 102, 102, 0.342);
    border-right: none;
}
.parentlogin .fa-user-circle{
    display: block;
    color:rgb(62, 71, 69);
}
.parentlogin .fa-envelope,.parentlogin .fa-lock{
    background:rgba(197, 240, 243, 0.719);
    color:rgb(124, 131, 124);
}
.parentlogin button{
    background-color:rgba(197, 240, 243, 0.719);
}
/*---------------***********-----------*/
/*STUDENTLOGIN*/
.stdntlgn{
    background-color:rgba(58, 58, 223, 0.753);
}
.studentlogin input{
    border: 1px solid rgba(205, 205, 243, 0.637);
    border-right: none;
}
.studentlogin .fa-user{
    display: block;
    color:rgba(254, 255, 255, 0.678);
}
.studentlogin .fa-envelope,.studentlogin .fa-lock{
    padding:7px ;
    background:rgb(192, 192, 241);
    color:rgb(124, 131, 124);
} 
.studentlogin button{
    background-color:rgb(192, 192, 241);
}   
/*---------------***********-----------*/
/*-------------****************---------------*/
.stflgn,.stdntlgn,.tchrlgn,.prntlgn{
    padding: 5px 0px 5px 0px;
    text-align: center;
}
.stafflogin .input_block,.teacherlogin .input_block,
.parentlogin .input_block,.studentlogin .input_block{
    display: flex;
    width: 100%;
    margin:6px 0px 10px 0px;
    float: left;
    }
.stafflogin .fa-envelope,.stafflogin .fa-lock,
.teacherlogin .fa-envelope,.teacherlogin .fa-lock,
.parentlogin .fa-envelope,.parentlogin .fa-lock,
.studentlogin .fa-envelope,.studentlogin .fa-lock{
    padding:7px ;
    text-align: center;
    min-width: 30px;
    margin-right: 10px;
}
.stafflogin button,.teacherlogin button,
.parentlogin button,.studentlogin button{
    padding: 15px;
    margin:5px 0px 0px 10px;
    font-size: 20px;
    border-radius: 7px;
    border: none;
}
.studentlogin p,.teacherlogin p,.stflgn p,.parentlogin{
    font-size: 18px;
    margin-left:10px;
    padding-bottom: 5px;
}
/*--------------******************------------------*/